scikit-learn==1.0.2
numpy==1.21.6
fastapi==0.95.2  # some versions may fail on 3.7, if so downgrade to 0.78.0
uvicorn==0.22.0  # may work; else downgrade to 0.20.0
flask==2.2.5
pandas==1.3.5
joblib==1.2.0
